@import "tailwindcss";

@theme {
  --color-brown-1: #2F241F;
  --color-brown-2: #553B33;

  --color-khaki: #E5F0B6;
  --color-khaki-2: #969e72;

  --color-gray: #E5F0B680;
  --color-gray-2: #FFFFFF80;
  
  --font-inter: "Inter", sans-serif;
}

body {
  @apply font-inter;
}